<div class="navbar navbar-default">
  <a class="navbar-brand" [routerLink]="['/']">Angular App</a>
  <ul class="nav navbar-nav">
    <li>
      <a [routerLink]="['/user']">Dashboard</a>
    </li>
  </ul>
  <ul class="nav navbar-nav pull-right" *ngIf="authService.user!=undefined">
    <li style="padding:15px">Welcome : {{authService.user.name}}</li>
    <li>
      <a (click)="SignOut()" href="javascript:void(0);">Sign Out</a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
